
* {
  border: 0;
  padding: 0;
  margin: 0 auto;
}

@media (min-width: 1px) and (max-width: 299px){
  .App {
    min-height: 100vh;
    max-width: 100vw;
    background-image: url("https://i.postimg.cc/C10tPKtm/HBS-9779.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: high-quality;
    padding: 0p;
    margin: 5px;
    justify-content: center;

  }

.example, .exampleee, .exampleer, .examplees, .examplee, .meimg, .transparent {
    width: 30px;
    height: 20px;
  }
  .video-big {
    max-width: 250px;
    max-height: 150px;
    border-style: inset;
    border-color: rgb(245, 159, 31);
    border-width: 5px;
}
  img {
    max-width: 10px;
    height: 10px;
  }

  .link {
    margin-left: 1px;
    margin-right: 1px;
    padding: 1px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    top: 5px;
    border: 1px;

  }

.black, .aboutme {
  max-width: 100vw;

}
  
}


@media (min-width: 300px)  and (max-width: 900px){
.example, .exampleee, .exampleer , .examplees, .examplee, .transparent{
    max-width: 300px;
    max-height: 350px;
  }

  img {
    max-width: 300px;
    max-height: 300px;
  }
  .App {
    max-width: 100vw;
    min-height: 100vh;
    background-image: url("https://i.postimg.cc/C10tPKtm/HBS-9779.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: high-quality;

  }
  .video-big {
    width: 300px;
    max-height: 250px;
    border-style: inset;
    border-color: rgb(245, 159, 31);
    border-width: 5px;
  }



  .link {
    margin-left: 1px;
    margin-right: 1px;
    padding: 1px;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
    border: 1px;


  }
  .homenav {
    animation-duration: 3s;
    animation-name: slidein;
    top: 0px;
    text-align: center;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    inline-size: fit-content;
    block-size: fit-content;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    max-width: 100vw;


}
}


@media (min-width: 901px) and (max-width: 1500px) {
.example,  .exampleee,   .exampleer , .examplees, .examplee, .transparent{
    max-width: 700px;
    max-height: 600px;
  }
  .video-big {
    width: 550px;
    max-height: 450px;
    border-style: inset;
    border-color: rgb(245, 159, 31);
    border-width: 5px;
  }


  .App {
    max-width: 100vw;
    background-image: url("https://i.postimg.cc/cCsg6nnW/Screenshot-2026-02-03-at-4-44-20-PM.png");
    min-height: 100vh;
    background-repeat: repeat;
  }
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  list-style-type: none;
  min-height:100vh;
  background-position: center;
  background-size: 100% 100%;
  image-rendering: high-quality;

}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
}

.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  inline-size: fit-content;
  block-size: fit-content;
  margin: 5px;
  padding: 10px;
}

.servicesnav{
  justify-content: center;
  list-style: none;
  padding: 5px;
}
.tutorialsnav {
  display: flex;
  flex-direction: column;
}

.homenav {
  animation-duration: 3s;
  animation-name: slidein;
  top: 0px;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  inline-size: fit-content;
  block-size: fit-content;
  margin: 5px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100vw;
}

.link {
  margin-left: 1px;
  margin-right: 1px;
  padding: 1px;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bolder;
  background-color: none;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
  height: 100%;
  border: 1px;
}
.link2 {
  margin: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  color: rgb(248, 221, 15);
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding-top: 5px;

}
.link2:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 2.4rem 0 rgb(15, 3, 47);
  transform: translateY(-0.1rem);
  transition: transform 150ms;   
  background-color: rgb(115, 0, 15);
}
.link:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 2.4rem 0 rgb(24, 3, 82);
  transform: translateY(-0.1rem);
  transition: transform 150ms;   
  background-color: rgb(115, 0, 15);
}
.msglink:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 2.4rem 0 rgb(15, 3, 47);
  transform: translateY(-0.1rem);
  transition: transform 150ms;   
  background-color: rgb(11, 149, 187);
}
.msglink {
  color: rgb(225, 244, 9);
  font-size: 25px;
  list-style-type: none;
  padding: 15px;
  margin: 15px;
  background-color: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 100%

}

.github {
  font-size: 15px;
  margin: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  color: rgb(248, 221, 15);
  font-weight: bold;
  text-decoration: none;
  font-style: italic;
}

.contact {
  display: flex;
  flex-direction: column;
}


.example {
  width: 1000px;
  height: 750px;
  border-style: groove;
  border-width: 5px;
  border-color: rgb(248, 221, 15);
  padding: 5px;
  margin: 15px;
  max-width: 750px;
}
.examplee {
  width: 600px;
  height: 500px;
  border-style: inset;
  border-width: 5px;
  border-color: rgb(248, 221, 15);
  padding: 5px;
  margin: 15px;
}
.exampleee {
  width: 900px;
  height: 900px;
  border-style: inset;
  border-width: 5px;
  border-color: rgb(248, 221, 15);
  padding: 5px;
  margin: 15px;
}

.exampleer {
  width: 1000px;
  height: 750px;
  border-style: inset;
  border-width: 5px;
  border-color: rgb(248, 221, 15);
  padding: 5px;
  margin: 15px;
}

.examplees {
  max-width: 1250px;
  height: 700px;
  border-style: inset;
  border-width: 5px;
  border-color: rgb(248, 221, 15);
  padding: 5px;
  margin: 15px;
}

.meimg {
  width: 600px;
  height: 450px;
  border-style: groove;
  border-color: gold;
  border-width: 5px;
  transition: width 2s, height 4s;
  animation-name: example;
  animation-duration: 4s;
}

.transparent {
  background-color: rgb(198, 169, 0);
  border-style: solid;
  border-width: 7px;
  border-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
}

.video-big {
  padding: 10px;
  margin: 10px 10px;
  border-style: inset;
  border-color: rgb(248, 221, 15);
  border-width: 10px;
  max-width: 100vw;
}

.black {
  background-color: black;
  border: 1px;
  border-style: solid;
  border-color: white;
}

.white {
  border-style: solid;
  border-color: rgb(203, 186, 4);
  padding: 1px;
  margin-bottom: 1px;
}

.blue {
  text-decoration: none;
}

.tiny {
  font-size: 20px;
}
.tinny {
  font-size: 10px;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}


.hr {
  padding: 5px;
  margin: 15px;
}

.hrhr {
  padding: 15px;
}

.services {
  background-image: url("https://i.postimg.cc/yNQRTLLy/embdded-dl-blog.jpg");
  background-color: rgb(9, 0, 0);
  padding: 10px;
  margin: 10px;
}

.robot {
  width: 300px;
  height: 500px;
  justify-content: center;
  border-style: solid;
  border-color: rgb(203, 186, 4);
  padding: 25px;
  margin: 25px 25px 25px 25px;
  animation-name: growshrink;
  animation-duration: 2.5s, 5s, 1s;
  animation-iteration-count: 2, 1, 5;
}

.robot:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 2.4rem 0 rgb(24, 3, 82);
  transform: translateY(-0.1rem);
  transition: transform 150ms;   
  background-color: rgb(44, 121, 222);
}

.navrobot {
  max-width: 25px;
  max-height: 25px;
}

.aboutrow {
  display: flax;
  flex-direction: row;
}
.title-white {
  background-color: blue;
}
